apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: ${namespace}-gateway
  namespace: ${namespace}
spec:
  selector:
    istio: ingress
  servers:
  - port:
      number: 80
      name: http
      protocol: HTTP
    hosts:
    - "${domain_name}"
    tls:
      httpsRedirect: true
  - port:
      number: 443
      name: https
      protocol: HTTPS
    hosts:
    - "${domain_name}"
    tls:
      mode: SIMPLE
      credentialName: ingress-tls
